#firebase
REACT_APP_API_KEY="your key here"
REACT_APP_AUTH_DOMAIN="your auth domain here"
REACT_APP_DATABASE_URL="your database url here"
REACT_APP_PROJECT_ID="your project id here"
REACT_APP_STORAGE_BUCKET="your storage bucket here"
REACT_APP_MESSAGING_IN_SENDER_ID="your messaging here"
REACT_APP_APP_ID="your app id here"